# App
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
CORS_ORIGINS=http://localhost:5173,https://idice.eso.wootlab.ng

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=eso_user
DB_PASSWORD=eso_pass
DB_NAME=eso_db

# JWT
JWT_ACCESS_SECRET=replace-with-32-char-minimum-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace-with-a-different-32-char-secret
JWT_REFRESH_EXPIRES_IN=7d

# Throttling
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# Mail
MAIL_PROVIDER=sendgrid
MAIL_API_KEY=
MAIL_FROM_ADDRESS=noreply@idice.eso.wootlab.ng

# SMS
SMS_PROVIDER=termii
SMS_API_KEY=
SMS_SENDER_ID=iDICE

# Storage
STORAGE_PROVIDER=s3
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=


SYSADMIN_SEED_PASSWORD=YourStrongPasswordHere!

FRONTEND_URL=https://idice.eso.wootlab.ng

MFA_ENCRYPTION_KEY=487fedfa3c966b40b242ecade6bdaaede750c577b64a7fbdb9504fe08de9d59a
MFA_ISSUER=iDICE ESO Portal


LOCKOUT_MAX_ATTEMPTS=5
LOCKOUT_WINDOW_MINUTES=15
LOCKOUT_DURATION_MINUTES=30